In [1]:
# imports
import pandas as pd
import numpy as np
import os # use this to access your environment variables
import requests # this will be used to call the APIs

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

In [2]:
FOURSQUARE_KEY = os.getenv('FOURSQUARE_KEY')

In [3]:
def get_venues_fs(latitude:float, longitude:float, radius:float, api_key:str):
    """
    Get venues from foursquare with a specified place type and coordinates.
    Args:
        latitude (float): latitude for query (must be combined with longitude)
        longitude (float): longitude for query (must be combined with latitude)
        api_key (str): foursquare API to use for query
    
    Returns:
        response: response object from the requests library.
    """

    headers = {'accept': 'application/json', 'Authorization': api_key}
    
    url = f'https://api.foursquare.com/v3/places/search?ll={latitude},{longitude}&radius={radius}'

    return requests.get(url, headers=headers).json()

In [4]:
#Import bike station data from part 1
hamilton_citybike_df = pd.read_csv('../data/hamilton_citybike.csv', index_col=0)

In [5]:
print(hamilton_citybike_df.head())

   empty_slots  free_bikes                                id   latitude  \
0            6           6  45dbb0009135e465f49f054517cbe74d  43.259126
1           23          11  cd881edad122a75c57d94b381cdfc6c0  43.269288
2           25           0  024a3edf037cb411d16acc08a7fcb954  43.267859
3            9           5  b933317ff2861c45aacbea4cbf4b541f  43.263198
4           10           7  20dc109608315db09a8332d6e6940c75  43.256132

   longitude             name                    timestamp  total_bikes  \
0 -79.877212     Hess at king  2023-08-30T01:32:48.695000Z           12
1 -79.871327    Bayfront Park  2023-08-30T01:32:48.697000Z           34
2 -79.867923  Bay at Strachan  2023-08-30T01:32:48.698000Z           25
3 -79.871803  Bay at Mulberry  2023-08-30T01:32:48.698000Z           14
4 -79.874499        City Hall  2023-08-30T01:32:48.700000Z           17

                                             address
0                     15 Hess Street North, Hamilton
1  Harbour Front Drive, North End, Hamilton, Ontario
2                     325 Bay Street North, Hamilton
3  177, Bay Street North, Hess Village, Hamilton,...
4                      58 Bay Street South, Hamilton

In [6]:
# Testing out the function with a single data point
test_data = get_venues_fs(43.259126, -79.877212, 1000, FOURSQUARE_KEY)

In [7]:
test_df = pd.DataFrame(test_data['results'])

In [8]:
print(test_df.head())

                     fsq_id  \
0  5796abdc498eb9b6b1d59458
1  579b8d6b498ea8f02d7fc402
2  56151620498e131e3dcb19e7
3  4c57494d30d82d7fd583d962
4  4c09190935ac9c74b85e85f7

                                          categories chains  distance  \
0  [{'id': 13055, 'name': 'Fried Chicken Joint', ...     []        19
1  [{'id': 13055, 'name': 'Fried Chicken Joint', ...     []        22
2  [{'id': 13035, 'name': 'Coffee Shop', 'icon': ...     []        81
3  [{'id': 13298, 'name': 'Lebanese Restaurant', ...     []       111
4  [{'id': 16065, 'name': 'Neighborhood', 'icon':...     []        77

                                            geocodes  \
0  {'main': {'latitude': 43.259271, 'longitude': ...
1  {'main': {'latitude': 43.259153, 'longitude': ...
2  {'drop_off': {'latitude': 43.25919, 'longitude...
3  {'main': {'latitude': 43.259414, 'longitude': ...
4  {'drop_off': {'latitude': 43.258433, 'longitud...

                                  link  \
0  /v3/places/5796abdc498eb9b6b1d59458
1  /v3/places/579b8d6b498ea8f02d7fc402
2  /v3/places/56151620498e131e3dcb19e7
3  /v3/places/4c57494d30d82d7fd583d962
4  /v3/places/4c09190935ac9c74b85e85f7

                                            location  \
0  {'address': '274 King St W', 'address_extended...
1  {'address': '274 King St W', 'address_extended...
2  {'address': '300 King St W', 'country': 'CA', ...
3  {'address': '306 King St W', 'country': 'CA', ...
4  {'country': 'CA', 'formatted_address': 'Hamilt...

                           name related_places         timezone
0  Coop Wicked Chicken Hamilton             {}  America/Toronto
1                 Coop Hamilton             {}  America/Toronto
2                  Ark + Anchor             {}  America/Toronto
3   La Luna Restaurant Downtown             {}  America/Toronto
4                  Hess Village             {}  America/Toronto

In [9]:
# Build a list of columns to use for the Hamilton CityBikes dataframe
fs_df_cols = list(test_df.columns)
fs_df_cols.append('citybike_station')

In [10]:
def fs_venue_df(df):
    """
    Returns a dataframe containing all the venues returned by querying the Foursquare API.
    df: Dataframe containing the station name, latitude and longitude.
    """
    temp_data = get_venues_fs(df['latitude'], df['longitude'], 1000, FOURSQUARE_KEY)
    temp_df = pd.DataFrame(temp_data['results'])
    temp_df['citybike_station'] = df['name']

    return temp_df

In [11]:
# Build a null dataframe with the appropriate columns
hamilton_citybike_fs_df = pd.DataFrame(columns=fs_df_cols)
hamilton_citybike_fs_df.head()

Empty DataFrame
Columns: [fsq_id, categories, chains, distance, geocodes, link, location, name, related_places, timezone, citybike_station]
Index: []

In [12]:
# Create a separate dataframe to use for building the Foursquare query result dataframe
hamilton_citybike_df_partial = hamilton_citybike_df[['name', 'latitude', 'longitude']]

In [13]:
# Iterate through each row of the dataframe and append to the Citybike/Foursquare dataframe
for i, rows in hamilton_citybike_df_partial.iterrows():
    temp_hamilton_fs_df = fs_venue_df(rows)
    hamilton_citybike_fs_df = pd.concat([hamilton_citybike_fs_df, temp_hamilton_fs_df])

In [14]:
# Retrieve only the category name from the categories column
hamilton_citybike_fs_df['category'] = hamilton_citybike_fs_df['categories'].apply(lambda x: x[0]['name'] if len(x) > 0 else 'N/A')

In [15]:
# Create a column that gets only the latitude information from the geocodes column
hamilton_citybike_fs_df['latitude'] = hamilton_citybike_fs_df['geocodes'].apply(lambda x: x[list(x.keys())[0]]['latitude'] if len(x) > 0 else np.nan)

In [16]:
# Create a column that gets only the longitude information from the geocodes column
hamilton_citybike_fs_df['longitude'] = hamilton_citybike_fs_df['geocodes'].apply(lambda x: x[list(x.keys())[0]]['longitude'] if len(x) > 0 else np.nan)

In [17]:
# Create a column that gets only the formal adddress information from the location column
hamilton_citybike_fs_df['address'] = hamilton_citybike_fs_df['location'].apply(lambda x: x['formatted_address'] if 'formatted_address' in list(x.keys()) else 'N/A')

In [18]:
# Only keep columns that are relevant
hamilton_citybike_fs_df = hamilton_citybike_fs_df[['citybike_station',
                                                   'name',
                                                   'address',
                                                   'latitude',
                                                   'longitude',
                                                   'distance',
                                                   'category']]

In [19]:
# Reset the index, needed for converting column types to numerical ones
hamilton_citybike_fs_df.reset_index(drop=True, inplace=True)

In [20]:
# Convert the distance column to a numerical type
hamilton_citybike_fs_df['distance'] = hamilton_citybike_fs_df['distance'].astype('float64')

In [21]:
hamilton_citybike_fs_df.dtypes

citybike_station     object
name                 object
address              object
latitude            float64
longitude           float64
distance            float64
category             object
dtype: object

In [22]:
print(hamilton_citybike_fs_df.head())

  citybike_station                          name  \
0     Hess at king  Coop Wicked Chicken Hamilton
1     Hess at king                 Coop Hamilton
2     Hess at king                  Ark + Anchor
3     Hess at king   La Luna Restaurant Downtown
4     Hess at king                  Hess Village

                                            address   latitude  longitude  \
0      274 King St W (Hess St), Hamilton ON L8P 1J6  43.259271 -79.877373
1                274 King St W, Hamilton ON L8P 1J6  43.259153 -79.877446
2                300 King St W, Hamilton ON L8P 1B1  43.259190 -79.878071
3  306 King St W (at Queen St), Hamilton ON L8P 1B1  43.259414 -79.878417
4                                       Hamilton ON  43.258433 -79.877560

   distance             category
0      19.0  Fried Chicken Joint
1      22.0  Fried Chicken Joint
2      81.0          Coffee Shop
3     111.0  Lebanese Restaurant
4      77.0         Neighborhood

In [23]:
# Export the Foursquare data into a CSV file
hamilton_citybike_fs_df.to_csv('../data/hamilton_citybike_fs.csv')

# Yelp

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Put your parsed results into a DataFrame

In [24]:
YELP_KEY = os.getenv('YELP_KEY')

In [25]:
def get_venues_yelp(latitude, longitude, radius, api_key):
    """
    Get venues from Yelp with a specified place type and coordinates.
    Args:
        latitude (float): latitude for query (must be combined with longitude)
        longitude (float): longitude for query (must be combined with latitude)
        api_key (str): foursquare API to use for query
    
    Returns:
        response: response object from the requests library.
    """

    headers = {'accept': 'application/json', 'Authorization': 'Bearer ' + api_key}
    
    url = f'https://api.yelp.com/v3/businesses/search?latitude={latitude}&longitude={longitude}&radius={radius}'

    return requests.get(url, headers=headers).json()

In [26]:
# Testing out the function with a single data point
test_data_y = get_venues_yelp(43.259126, -79.877212, 1000, YELP_KEY)

In [27]:
test_data_y['businesses'][0]

{'id': 'vqyK2q3zJ74TIT1-7Bf3Tg',
 'alias': 'la-luna-hamilton',
 'name': 'La Luna',
 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/OBRpyj_wUqmDwKLtKU4pCA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/la-luna-hamilton?adjust_creative=ma3WG-w6gNocu9m-Htrm9g&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ma3WG-w6gNocu9m-Htrm9g',
 'review_count': 63,
 'categories': [{'alias': 'mideastern', 'title': 'Middle Eastern'}],
 'rating': 4.0,
 'coordinates': {'latitude': 43.25942165323912,
  'longitude': -79.87848757635106},
 'transactions': [],
 'price': '$$',
 'location': {'address1': '306 King Street W',
  'address2': '',
  'address3': '',
  'city': 'Hamilton',
  'zip_code': 'L8P 1B1',
  'country': 'CA',
  'state': 'ON',
  'display_address': ['306 King Street W', 'Hamilton, ON L8P 1B1', 'Canada']},
 'phone': '+19055770233',
 'display_phone': '+1 905-577-0233',
 'distance': 108.39989911183157}

In [28]:
# Convert the result into a df
test_df_y = pd.DataFrame(test_data_y['businesses'])

In [29]:
# Drop irrelevant columns
test_df_y.drop(columns=['id', 'alias', 'image_url', 'is_closed', 'url', 'transactions'], axis=1, inplace=True)

In [30]:
print(test_df_y.head())

                         name  review_count  \
0                     La Luna            63
1                     Hambrgr           202
2  Earth To Table : Bread Bar           293
3                    The Ship           208
4                    The Mule           177

                                          categories  rating  \
0  [{'alias': 'mideastern', 'title': 'Middle East...     4.0
1  [{'alias': 'burgers', 'title': 'Burgers'}, {'a...     4.5
2  [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...     4.0
3  [{'alias': 'seafood', 'title': 'Seafood'}, {'a...     4.0
4         [{'alias': 'mexican', 'title': 'Mexican'}]     4.0

                                         coordinates price  \
0  {'latitude': 43.25942165323912, 'longitude': -...    $$
1      {'latitude': 43.25721, 'longitude': -79.8669}    $$
2     {'latitude': 43.25284, 'longitude': -79.88702}    $$
3        {'latitude': 43.25215, 'longitude': -79.87}    $$
4     {'latitude': 43.25726, 'longitude': -79.86713}    $$

                                            location         phone  \
0  {'address1': '306 King Street W', 'address2': ...  +19055770233
1  {'address1': '49 King William Street', 'addres...  +12893891212
2  {'address1': '258 Locke Street S', 'address2':...  +19055222999
3  {'address1': '23 Augusta Street', 'address2': ...  +19055260792
4  {'address1': '41 King William Street', 'addres...  +12893892555

     display_phone     distance
0  +1 905-577-0233   108.399899
1  +1 289-389-1212   858.696078
2  +1 905-522-2999  1052.137875
3  +1 905-526-0792   970.881752
4  +1 289-389-2555   833.747473

In [31]:
# Build a list of columns to use for the Hamilton Yelp dataframe
yelp_df_cols = list(test_df_y.columns)
yelp_df_cols.append('citybike_station')

In [32]:
yelp_df_cols

['name',
 'review_count',
 'categories',
 'rating',
 'coordinates',
 'price',
 'location',
 'phone',
 'display_phone',
 'distance',
 'citybike_station']

In [33]:
def yelp_venue_df(df):
    """
    Returns a dataframe containing all the venues returned by querying the Yelp API.
    df: Dataframe containing the station name, latitude and longitude.
    """
    temp_data = get_venues_yelp(df['latitude'], df['longitude'], 1000, YELP_KEY)
    temp_df = pd.DataFrame(temp_data['businesses'])
    temp_df['citybike_station'] = df['name']
    temp_df.drop(columns=['id', 'alias', 'image_url', 'is_closed', 'url', 'transactions'], axis=1, inplace=True)
    return temp_df

In [34]:
# Build a null dataframe with the appropriate columns
hamilton_citybike_yelp_df = pd.DataFrame(columns=yelp_df_cols)
hamilton_citybike_yelp_df.head()

Empty DataFrame
Columns: [name, review_count, categories, rating, coordinates, price, location, phone, display_phone, distance, citybike_station]
Index: []

In [35]:
# Iterate through each row of the dataframe and append to the CityBikes/Yelp dataframe
for i, rows in hamilton_citybike_df_partial.iterrows():
    temp_hamilton_yelp_df = yelp_venue_df(rows)
    hamilton_citybike_yelp_df = pd.concat([hamilton_citybike_yelp_df, temp_hamilton_yelp_df])

In [36]:
print(hamilton_citybike_yelp_df.head())

                         name review_count  \
0                     La Luna           63
1                     Hambrgr          202
2  Earth To Table : Bread Bar          293
3                    The Ship          208
4                    The Mule          177

                                          categories  rating  \
0  [{'alias': 'mideastern', 'title': 'Middle East...     4.0
1  [{'alias': 'burgers', 'title': 'Burgers'}, {'a...     4.5
2  [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...     4.0
3  [{'alias': 'seafood', 'title': 'Seafood'}, {'a...     4.0
4         [{'alias': 'mexican', 'title': 'Mexican'}]     4.0

                                         coordinates price  \
0  {'latitude': 43.25942165323912, 'longitude': -...    $$
1      {'latitude': 43.25721, 'longitude': -79.8669}    $$
2     {'latitude': 43.25284, 'longitude': -79.88702}    $$
3        {'latitude': 43.25215, 'longitude': -79.87}    $$
4     {'latitude': 43.25726, 'longitude': -79.86713}    $$

                                            location         phone  \
0  {'address1': '306 King Street W', 'address2': ...  +19055770233
1  {'address1': '49 King William Street', 'addres...  +12893891212
2  {'address1': '258 Locke Street S', 'address2':...  +19055222999
3  {'address1': '23 Augusta Street', 'address2': ...  +19055260792
4  {'address1': '41 King William Street', 'addres...  +12893892555

     display_phone     distance citybike_station
0  +1 905-577-0233   108.424550     Hess at king
1  +1 289-389-1212   858.672096     Hess at king
2  +1 905-522-2999  1052.141521     Hess at king
3  +1 905-526-0792   970.855528     Hess at king
4  +1 289-389-2555   833.723417     Hess at king

In [37]:
hamilton_citybike_yelp_df['categories']

0     [{'alias': 'mideastern', 'title': 'Middle East...
1     [{'alias': 'burgers', 'title': 'Burgers'}, {'a...
2     [{'alias': 'pizza', 'title': 'Pizza'}, {'alias...
3     [{'alias': 'seafood', 'title': 'Seafood'}, {'a...
4            [{'alias': 'mexican', 'title': 'Mexican'}]
                            ...
15    [{'alias': 'cafes', 'title': 'Cafes'}, {'alias...
16         [{'alias': 'bakeries', 'title': 'Bakeries'}]
17    [{'alias': 'soup', 'title': 'Soup'}, {'alias':...
18       [{'alias': 'coffee', 'title': 'Coffee & Tea'}]
19         [{'alias': 'bakeries', 'title': 'Bakeries'}]
Name: categories, Length: 2786, dtype: object

In [38]:
def get_categories(categories):
    """
    Take a list of dicts containing category information and return a single string containing the categories
    categories: data series containing a list of dicts
    """
    if len(categories) == 0:
        return 'N/A'
    
    cat = categories[0]['title']

    if len(categories) > 0:
        for i in range(1, len(categories)):
            cat = cat + ', ' + categories[i]['title']

    return cat

In [39]:
# Parse through the categories column to get a single entry containing all the categories per row
hamilton_citybike_yelp_df['category'] = hamilton_citybike_yelp_df['categories'].apply(lambda x: get_categories(x))

In [40]:
hamilton_citybike_yelp_df['coordinates']

0     {'latitude': 43.25942165323912, 'longitude': -...
1         {'latitude': 43.25721, 'longitude': -79.8669}
2        {'latitude': 43.25284, 'longitude': -79.88702}
3           {'latitude': 43.25215, 'longitude': -79.87}
4        {'latitude': 43.25726, 'longitude': -79.86713}
                            ...
15     {'latitude': 43.262429, 'longitude': -79.905462}
16       {'latitude': 43.26164, 'longitude': -79.90714}
17       {'latitude': 43.26163, 'longitude': -79.90551}
18    {'latitude': 43.262218950438864, 'longitude': ...
19      {'latitude': 43.2623, 'longitude': -79.9042599}
Name: coordinates, Length: 2786, dtype: object

In [41]:
# Get the latitude from the coordinates column
hamilton_citybike_yelp_df['latitude'] = hamilton_citybike_yelp_df['coordinates'].apply(lambda x: x['latitude'])

In [42]:
# Get the longitude from the coordinates column
hamilton_citybike_yelp_df['longitude'] = hamilton_citybike_yelp_df['coordinates'].apply(lambda x: x['longitude'])

In [43]:
hamilton_citybike_yelp_df['location']

0     {'address1': '306 King Street W', 'address2': ...
1     {'address1': '49 King William Street', 'addres...
2     {'address1': '258 Locke Street S', 'address2':...
3     {'address1': '23 Augusta Street', 'address2': ...
4     {'address1': '41 King William Street', 'addres...
                            ...
15    {'address1': '1008 King Street W', 'address2':...
16    {'address1': '1050 King Street W', 'address2':...
17    {'address1': '1019 King St W', 'address2': '',...
18    {'address1': '791 King Street W', 'address2': ...
19    {'address1': '981 King St W', 'address2': None...
Name: location, Length: 2786, dtype: object

In [44]:
# Get the address information from the location column
hamilton_citybike_yelp_df['address'] = hamilton_citybike_yelp_df['location'].apply(lambda x: x['display_address'] if 'display_address' in x.keys() else 'N/A')

In [45]:
# Change empty string to 'N/A'
hamilton_citybike_yelp_df[hamilton_citybike_yelp_df['phone'] == ''] = 'N/A'

In [46]:
hamilton_citybike_yelp_df = hamilton_citybike_yelp_df[['citybike_station',
                                                       'name',
                                                       'address',
                                                       'phone',
                                                       'latitude',
                                                       'longitude',
                                                       'distance',
                                                       'category',
                                                       'price',
                                                       'rating',
                                                       'review_count']]

In [47]:
# Reset the index
hamilton_citybike_yelp_df.reset_index(drop=True, inplace=True)

In [48]:
hamilton_citybike_yelp_df['address']

0       [306 King Street W, Hamilton, ON L8P 1B1, Canada]
1       [49 King William Street, Hamilton, ON L8R 1A2,...
2       [258 Locke Street S, Hamilton, ON L8P 4B9, Can...
3       [23 Augusta Street, Hamilton, ON L8N 1P6, Canada]
4       [41 King William Street, Hamilton, ON L8R 1A2,...
                              ...
2781    [1008 King Street W, Hamilton, ON L8S 1L4, Can...
2782    [1050 King Street W, Hamilton, ON L8S 1L5, Can...
2783       [1019 King St W, Hamilton, ON L8S 1L1, Canada]
2784                                                  N/A
2785        [981 King St W, Hamilton, ON L8S 1K9, Canada]
Name: address, Length: 2786, dtype: object

In [49]:
def get_full_address(address):
    """
    Returns a single string containing the address
    address: list containing the full address in parts
    """
    full_address = address[0]
    if len(address) > 0:
        for i in range(1, len(address)):
            full_address = full_address + ', ' + address[i]
    return full_address

In [50]:
hamilton_citybike_yelp_df['address'] = hamilton_citybike_yelp_df['address'].apply(lambda x: get_full_address(x))

In [51]:
# Convert all 'N/A' into NaN for converting the column type into a numeric one
hamilton_citybike_yelp_df[hamilton_citybike_yelp_df['latitude'] == 'N/A'] = np.nan

In [52]:
# Convert all 'N/A' into NaN for converting the column type into a numeric one
hamilton_citybike_yelp_df[hamilton_citybike_yelp_df['longitude'] == 'N/A'] = np.nan

In [53]:
# Convert the latitude column into a numerical type
hamilton_citybike_yelp_df['latitude'] = hamilton_citybike_yelp_df['latitude'].astype('float64')

In [54]:
# Convert the longitude column into a numerical type
hamilton_citybike_yelp_df['longitude'] = hamilton_citybike_yelp_df['longitude'].astype('float64')

In [55]:
# Convert the rating column into a numerical type
hamilton_citybike_yelp_df['rating'] = hamilton_citybike_yelp_df['rating'].astype('float64')

In [56]:
# Convert the review_count column into a numerical type
hamilton_citybike_yelp_df['review_count'] = hamilton_citybike_yelp_df['review_count'].astype('float64')

In [57]:
hamilton_citybike_yelp_df.dtypes

citybike_station     object
name                 object
address              object
phone                object
latitude            float64
longitude           float64
distance             object
category             object
price                object
rating              float64
review_count        float64
dtype: object

In [58]:
print(hamilton_citybike_yelp_df.head())

  citybike_station                        name  \
0     Hess at king                     La Luna
1     Hess at king                     Hambrgr
2     Hess at king  Earth To Table : Bread Bar
3     Hess at king                    The Ship
4     Hess at king                    The Mule

                                             address         phone   latitude  \
0    306 King Street W, Hamilton, ON L8P 1B1, Canada  +19055770233  43.259422
1  49 King William Street, Hamilton, ON L8R 1A2, ...  +12893891212  43.257210
2   258 Locke Street S, Hamilton, ON L8P 4B9, Canada  +19055222999  43.252840
3    23 Augusta Street, Hamilton, ON L8N 1P6, Canada  +19055260792  43.252150
4  41 King William Street, Hamilton, ON L8R 1A2, ...  +12893892555  43.257260

   longitude     distance                          category price  rating  \
0 -79.878488    108.42455                    Middle Eastern    $$     4.0
1 -79.866900   858.672096                 Burgers, Beer Bar    $$     4.5
2 -79.887020  1052.141521  Pizza, Breakfast & Brunch, Salad    $$     4.0
3 -79.870000   970.855528            Seafood, Pubs, Burgers    $$     4.0
4 -79.867130   833.723417                           Mexican    $$     4.0

   review_count
0          63.0
1         202.0
2         293.0
3         208.0
4         177.0

In [59]:
# Export the Yelp data into a CSV file
hamilton_citybike_yelp_df.to_csv('../data/hamilton_citybike_yelp.csv')

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

#### The Foursquare API gave data that was mostly about location and a little bit about what category the location fits in.
#### Meanwhile the Yelp API gave data that included location information, business contact information (such as phone number and website), what category the location fits into, affordability information, and review information (i.e. the number of Yelp reviews and the average score out of 5). Yelp also showed more venues.
#### Given the amount of different kinds of information Yelp provided, it would be Yelp that gives a more complete picture of the location.

Get the top 10 restaurants according to their rating

In [60]:
hamilton_citybike_yelp_df.sort_values(by='rating', ascending=False).head(10)

,citybike_station,name,address,phone,latitude,longitude,distance,category,price,rating,review_count
2304,Charlton at Queen,Tomah,"132 Queen Street S, Hamilton, ON L8P 3S2, Canada",+19055221919,43.255460,-79.880640,390.977881,Syrian,NaN,5.0,7.0
1396,Maplewood at Springer,Cadillac Jax Bar & Grill,"532 Main Street E, Hamilton, ON L8M 1J1, Canada",+19055230259,43.249880,-79.849170,1111.809454,"Bars, Canadian (New)",NaN,5.0,2.0
2089,Tisdale at Main,193 Bench Kitchen,"193 King Street E, Hamilton, ON L8N 1B3, Canada",+12893897999,43.255053,-79.863376,903.836784,"Sandwiches, Bakeries, Breakfast & Brunch",NaN,5.0,6.0
843,Main at Columbia College,Pita Pit,"1056 King Street West, Hamilton, ON L8S 1L7, C...",+19055297482,43.261426,-79.907595,318.65967,Sandwiches,$,5.0,6.0
1574,Main at Eastbourne,Speedy Subs,"562 Concession Street, Hamilton, ON L8V 1A9, C...",+12893966984,43.240950,-79.852021,1138.289052,"Hot Dogs, Sandwiches",$,5.0,6.0
1399,Maplewood at Springer,Tall Tree Sandwich Company,"1000 King St E, Hamilton, ON L8M 1C8, Canada",+12892469233,43.250499,-79.833489,662.040211,"Sandwiches, Juice Bars & Smoothies",NaN,5.0,1.0
709,Westdale Library,Pita Pit,"1056 King Street West, Hamilton, ON L8S 1L7, C...",+19055297482,43.261426,-79.907595,354.06717,Sandwiches,$,5.0,6.0
1180,Stinson at West,Bon Temps,"61 Young Street, Hamilton, ON L8N 1V1, Canada",+19055237177,43.250880,-79.868720,746.642843,Canadian (New),NaN,5.0,7.0
2433,King at Sherman,Golden Tenders,"1150 King Street E, Hamilton, ON L8M 1E8, Canada",+13653668108,43.247855,-79.829075,843.687211,"Fast Food, Southern",NaN,5.0,1.0
850,Main at Columbia College,The Alley,"1050 King Street W, Unit 5, Hamilton, ON L8S 1...",+19055225300,43.261640,-79.907140,352.02522,Bubble Tea,NaN,5.0,4.0

In [61]:
hamilton_citybike_yelp_df.sort_values(by='rating', ascending=False).head(10)['name']

2304                         Tomah
1396      Cadillac Jax Bar & Grill
2089             193 Bench Kitchen
843                       Pita Pit
1574                   Speedy Subs
1399    Tall Tree Sandwich Company
709                       Pita Pit
1180                     Bon Temps
2433                Golden Tenders
850                      The Alley
Name: name, dtype: object